* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

.menu-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
    align-items: center;
    background-color: rgb(223, 16, 16);
}

.menu-info a {
    text-decoration: none;
}

.menu-info h2 {
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    font-size: 2em;
    padding: 15px;
}

.search input {
    padding: 10px;
    width: 440px;
    height: 20px;
    font-size: 1em;
    border-color: red;
}

.fa-magnifying-glass {
    color: red;
    margin-left: -40px;
    font-size: 18px;
}

.atendimento {
    display: flex;
}

.fa-headset {
    padding-right: 10px;
    color: #fff;
    font-size: 1.25em;
}

.atendimento a {
    text-decoration: none;
    color: #fff;
    font-size: 1.25em;
}

.wpp {
    display: flex;
}

.fa-whatsapp {
    padding-right: 10px;
    color: #fff;
    font-size: 1.20em;
}

.wpp a {
    text-decoration: none;
    color: #fff;
    font-size: 1.20em;
}

.login {
    display: flex;
}

.bmv {
    margin-right: 30px;
    color: #fff;
    font-size: 1.20em;
}

.login i {
    color: #fff;
    font-size: 1.75em;
    padding: 0 25px;
}

.cep {
    display: flex;
    margin: 15px 20px;
}

.fa-location-dot {
    padding-right: 10px;
    font-size: 1.20em;
}

.cep-btn input {
    width: 160px;
    padding: 5px;
    border: none;
    font-weight: bold;
}

.clothes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 150px;
}

.clothes a {
    font-size: 1.75em;
    text-decoration: none;
    color: #000000;
}

.outlet {
    color: rgb(223, 16, 16);
}

.pgs ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 80px 30px;
}

.pgs ul li {
    padding-left: 20px;
}

.pgs ul li a {
    color: black;
}

.produtos {
    position: relative;
}

.principal {
    background-color: rgba(128, 128, 128, 0.2);
    margin-left: 55px;
    width: 600px;
}

.exemple1 {
    position: absolute;
    top: 50px;
    left: 90px;
    background-color: rgba(128, 128, 128, 0.25);
}

.exemple2 {
    position: absolute;
    top: 200px;
    left: 90px;
    background-color: rgba(128, 128, 128, 0.25);
}

.front {
    display: flex;
}

.info {
    margin-left: 40px;
    line-height: 33px;
}

.titulo {
    display: flex;
    flex-wrap: wrap;
}

.titulo h2 {
    font-size: 2em;
}

.fa-heart {
    font-size: 1.75em;
    margin-left: 30px;
}


.avaliacao {
    position: relative;
    margin-top: 15px;
}

.fa-star {
    padding: 0 3px;
    font-size: 1.25em;
}

.avaliacao a {
    color: #ed0707;
    margin-left: 20px;
}

.fa-share-nodes {
    font-size: 1.75em;
    position: absolute;
    right: 0;
}

.info-produto h3 {
    font-size: 1.75em;
    font-weight: bold;
    margin-top: 20px;
    padding: 10px 0;
}

.info-produto p {
    font-weight: 500;
}

.info-produto span {
    color: #969696;
}

.info-produto img {
    background-color: rgba(128, 128, 128, 0.2);
    border: 1px solid #ed0707;
    border-radius: 80%;
    width: 70px;
    height: 70px;
    margin: 20px 0;
}

.info-produto p {
    font-size: 1.25em;
    font-weight: 500;
}

.sizes {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.sizes a {
    text-decoration: none;
    color: #000000;
}



.size-circle {
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: center;
    margin-top: 18px;
    width: 43px;
    height: 44px;
    border-radius: 63px;
    background: rgba(157, 151, 151, 0.20);
    margin-left: 8px;
}

.size-circle:hover {
    background-color: #ed0707;
    transition-duration: 1s;
}

.first-height {
    border: 1px solid #ed0707;
}

form {
    display: flex;
}

.frete {
    margin: 20px 0;
}

.frete input {
    padding: 10px;
    width: 200px;
    height: 10px;
    border: none;
    background-color: #f5eeee;
    font-weight: bolder;
}

button {
    border: none;
    background-color: #969696;
    width: 80px;
}

.buy {
    padding: 15px 0;
}

.buy a {
    background-color: #ed0707;
    padding: 15px;
    text-decoration: none;
    color: #ffff;
    font-size: 1.5em;
    font-weight: 300;
    margin-right: 20px;
}

.fa-bag-shopping {
    padding: 10px;
    font-size: 1.75;
}

.frete-info p {
    font-weight: 500;
}

.frete-info span {
    color: #ed0707;
}

.frete-info ul li {
    list-style: none;
}

.frete-info ul li a {
    color: #969696;
}

.down {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 55px;
}

.outros {
    position: relative;
    text-align: center;
    background-color: rgba(128, 128, 128, 0.2);
    margin: 13px 52px;
    width: 106px;
    height: 103px;
    padding: 10px;
}

.outros p {
    text-align: center;
    margin-top: 10px;
}

.saia {
    margin-top: 12px;
}

.preco {
    font-weight: bold;
}

.outros i {
    position: absolute;
    top: 15;
    left: 65px;
    background-color: transparent;
    font-size: 24px;
}

.contact-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: rgb(223, 16, 16);
    margin-top: 100px;
    padding: 40px;
    text-align: start;
    line-height: 30px;
}

.contact-container h3 {
    font-size: 1.15em;
    font-weight: bold;
    color: #fff;
}

.contact-container ul li a {
    text-decoration: none;
    color: #ffff;
}

.contact-container ul {
    list-style: none;
}